$slick-btn-size: 32px;
$color-github: #24292e;

.is {
  &-visible {
    visibility: visible !important;
  }

  &-loading {
    display: block !important;
  }
}

.not {
  &-visible {
    visibility: hidden !important;
  }

  &-loading {
    display: none !important;
  }
}

.slick {
  &-github {
    margin: 0 24px;

    .rsg-index {
      position: absolute;
      left: 8px;
      width: 18px;
      margin-top: 20px;
      padding: 8px;
      font-size: 16px;
      font-weight: 300;
      text-align: center;
      color: #ddd;
      background-color: lighten($color-github, 20%);
      border-radius: 50%;
    }

    .rsg-github {
      width: 100%;
      margin: 8px 16px 16px 0;

      .rsg-avatar {
        margin: 0 auto;
        border-radius: 6px;
      }
    }

    .rsg-github-wrapper {
      display: block;
      min-width: 0;
      max-width: 100%;
    }

    .rsg-counters {
      .rsg-item {
        zoom: 0.85;
      }
    }
  }

  &-list {
    padding: 0 8px;
  }

  &-next,
  &-prev {
    width: $slick-btn-size;
    height: $slick-btn-size;

    &:before {
      font-size: $slick-btn-size;
      color: lighten($color-github, 10%);
    }
  }

  &-prev {
    left: -$slick-btn-size;
  }

  &-next {
    right: -$slick-btn-size;
  }
}
@media only screen and (min-width: 568px) {
  .refresh {
    transform: translate(10040px, 10020px) !important;
  }
  .slick {
    &-github {
      margin: 0 32px;

      .rsg-index {
        position: relative;
        left: 10px;
        top: 25px;
        margin: -10px 16px 0 0;
      }

      .rsg-github {
        width: 250px;
      }
    }

    &-prev {
      left: -$slick-btn-size * 1.5;
    }

    &-next {
      right: -$slick-btn-size * 1.5;
    }
  }
}