$slick-btn-size: 32px;

.slick {
  &-github {
    margin: 0 32px;

    .rsg-github {
      margin: 8px;
      vertical-align: top;
    }

    @media only screen and (max-width: 480px) {
      .rsg-github {
        width: 250px;
      }

      .rsg-github-wrapper {
        display: block;
        min-width: 0;
      }

      .rsg-counters {
        .rsg-item {
          zoom: 0.8;
        }
        .rsg-item:not(:last-child) {
          border: none;
        }
      }
    }
  }

  &-list {
    padding: 0 8px;
  }

  &-next,
  &-prev {
    width: $slick-btn-size;
    height: $slick-btn-size;

    &:before {
      font-size: $slick-btn-size;
      color: #333;
    }
  }

  &-prev {
    left: -$slick-btn-size;
  }

  &-next {
    right: -$slick-btn-size;
  }
}