$color-bg: #f4f6f8;
$color-border: #ddd;
$color-text: #000;

.app {
  min-width: 360px;

  &-bar {
    h1 {
      font-size: 18px !important;
      text-align: center;
      text-transform: uppercase;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &-filter,
  &-footer {
    display: none;
  }

  &-header {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 20vh;
    background-color: $color-bg;
    border: 1px solid $color-border;
    border-top: none;
    font-weight: 900;
    color: $color-text;

    &--description {
      margin: 16px 48px;

      .headline {
        color: lighten($color-text, 30%);
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 140%;
        word-spacing: 0.1em;
      }

      .highlight {
        font-weight: 700;
        background-color: #FFECB3;
        padding: 0 8px;
      }
    }
  }

  &-content {
    margin: -20vh 0 0;
  }
}
@media only screen and (min-width: 568px) {
  .app {
    margin: 0 auto;

    &-bar {
      h1 {
        font-size: 24px !important;
      }

      &--options {
        display: none !important;
      }
    }

    &-filter {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin: 30px 40px 0;

      &--icon {
        display: flex;
        align-items: flex-end;
        margin-bottom: 16px;

        span {
          display: block;
          margin-left: 8px;
          font-weight: 400px;
          font-size: 20px;
          text-transform: uppercase;
        }

        svg {
          width: 24px;
          height: 24px;
        }
      }

      &--option {
        width: 90% !important;
      }
    }

    &-content,
    &-header {
      padding-right: 32px;
      padding-left: 32px;
    }

    &-header {
      &--description {
        margin: 40px;

        .headline {
          font-size: 24px;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .app {}
}
@media only screen and (min-width: 1024px) {
  .app {
    &-header {
      &--description {
        margin: 60px 40px;

        .headline {
          font-size: 36px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1460px) {
  .app {
    max-width: 1460px;
  }
}
@media only screen and (min-width: 568px) and (min-height: 940px) {
  .app {
    &-footer {
      display: block;
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 100%;
      margin: 16px 0;
      color: lighten($color-text, 70%);
      text-align: center;
    }
  }
}