@import "shared/variables";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: $color-bg;
}

.is {
  &-visible {
    visibility: visible !important;
  }

  &-displayed {
    display: block !important;
  }
}

.not {
  &-visible {
    visibility: hidden !important;
  }

  &-displayed {
    display: none !important;
  }
}